body{
    margin: 0px;
    margin-top: 10;
}
.box{
    border: 5px solid;
    font-size: 5em;
    width: 250px;
    height: 250px;

}
#box1{
    background-color: brown;
    /* margin-top: 50px;
    margin-bottom: 50px; */
    margin: 50px; /*will place the element at the center*/
}
#box2 {

background-color: blue;
padding-bottom: 10px;


}