.dropdown{
    display: inline-block;
}
.dropdown button{
    background-color: rgb(241, 235, 235);
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
   

}
.dropdown a{
    display: block;
    color: black;
    text-decoration: none;
    padding: 10px 15px;

}
.dropdown .content{
    display: none;
    background-color: rgb(240, 235, 235);
    position: absolute;
    min-width: 100px;
    box-shadow: 2px 2px 5px black;

}
.dropdown:hover .content{
    display: block;
}
.dropdown:hover button{
    background-color: antiquewhite;
}
.dropdown a:hover{
    background-color: aqua;
}