body {
    padding: 10%;
    font-size: 2rem;


}
/*
input, button {
    font: inherit;
}
*/
p {
    /*text-decoration: underline;*/
    /*text-transform: uppercase;*/
    /*text-align: justify;*/
    /*text-indent: 2em;*/
    line-height: 1.5;
    letter-spacing: 0.1em;
    word-spacing: normal;
    font-weight: 500;
    
}





